[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitchio = "*"
requests = "*"
httpx = "*"
spotipy = "*"
#Flask = "*"

[requires]
python_version = "3.8"
